/* =============================== */
/*          Global Styles          */
/* =============================== */
* {
    border: solid 1px black;
    background-color: white;
}

/* =============================== */
/*          App Styles          */
/* =============================== */
.CalendApp {
    height: 100%;
}

/* =============================== */
/*          Header Styles          */
/* =============================== */
.Header {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

/* =============================== */
/*          Calendar Styles        */
/* =============================== */
.Calendar {
    height: 90%;
}

.CalendarDisplay {
    overflow-y: auto;
    height: 90%;
    width: calc(100% + 15px);
}

.yearLabel {
    position: absolute;
    top: 10%;
    left: 10%;
}

.monthLabel {
    position: absolute;
    top: 10%;
    right: 10%;
}

.Week {
    height: 25%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}

.Day {
    overflow-y: auto;
}

.DayDetail, .EventForm {
    z-index: 1;
    position: fixed;
    top: 15%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    overflow-y: auto;
}

.EventForm {
    z-index: 2;
}

.Toolbar {
    height: 10%;
}

/* =============================== */
/*           Media Queries         */
/* =============================== */
